*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 700px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}



.table{
    border-collapse: collapse;
   font-size: 16px;
   margin: 20px 0;
   width: 500px;
}



.table thead th{
    background-color: #444;
    padding: 15px;
    text-align: center;
    color: goldenrod;
   
}

.table tbody tr{

    border-bottom: 1px solid #aaa ;
    text-align: center;
    margin: 10px 20px;
}

.table tbody tr:hover{

    background-color: #ddd;
}

.table tbody tr td{

    padding: 10px 20px;
}